header.app-header {
    background-color: $clr1;
    display: flex;
    justify-content: space-between;
    max-height: 44px;
    padding: 6px 4px;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;


        section {
            display: flex;
        }

        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 3px;
            margin: 0;
            padding: 4px 6px;
            margin-right: 4px;

            &:hover {
                background-color: #0000004d;
            }
        }

        span {
            color: $clr4;
            padding: 0 6px;
        }

        svg {
            color: $clr4;
        }

        .logo {
            display: flex;

            .icon {
                font-size: 18px;
                color: $clr4;
            }

            .title {
                font-size: 18px;
                font-family: NunitoSans-Bold;
            }
        }

        .trello {
            .btn-create {
                background-color: #0000004d;

                &:hover {
                    background-color: $clr3;
                }
            }

            .trello-actions {
                @include for-max-wide-layout {
                    display: none;
                }
            }

            .trello-actions-more {
                @include for-mobile-layout {
                    display: none;
                }
            }
        }

        .humburger {
            display: none;

            @include for-mobile-layout {
                display: block;
            }
        }

        .user {
            button {
                padding: 4px 10px;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px
            }

            .search {
                position: relative;
                max-width: 100%;
                width: 200px;

                @include for-mobile-layout {
                    width: 30px;
                    font-size: 15px;
                }

                .icon {
                    height: 100%;
                    display: flex;
                    top: 0;
                    position: absolute;
                    color: var(--ds-text-subtlest, #FFFFFF);
                    align-items: center;
                }

                input {
                    height: 32px;
                    width: 100%;
                    padding: 0px 12px 0px 40px;
                    box-sizing: border-box;
                    margin-bottom: revert;
                    transition: revert;
                    border-width: 1px;
                    outline: none;
                    border-radius: 5px;
                    font-size: 14px;
                    line-height: 20px;
                    border: 2px solid var(--dynamic-text-color-transparent, rgba(255, 255, 255, 0.25));
                    box-shadow: none;
                    background-color: rgba(255, 255, 255, 0.2);
                    color: var(--ds-text-subtlest, #FFFFFF);

                    &::placeholder {
                        color: var(--ds-text-subtlest, #FFFFFF);
                    }

                    &:focus {
                        width: 99vw;
                        position: fixed;
                        left: 0.5vw;
                        background-color: whitesmoke;
                        color: black;

                        &::placeholder {
                            color: black;
                        }
                    }

                    @include for-mobile-layout {
                        display: none;
                    }
                }

                input:focus + .icon > .icon-svg{
                    position: fixed;
                    z-index: 10;
                    left: 2vw;
                    color: black;
                }
            }

            @include for-mobile-layout {
                display: none;
            }
        }
    }
}

nav a:not(:first-child) {
    border-top: 1px solid $clr1;
    margin: 10px;
}

nav .active {
    color: $clr1;
}