.board-header {
  background-color: transparent;

  .mini-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: white;
    margin-top: 16px;
    margin-bottom: 5px;
    color: #616F86;
  }

  .smaller {
    font-size: 12px;
    margin-top: 7px;
    color: #616F86;
  }

  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  padding-inline: 6px;
  cursor: default;

  button {
    height: 32px;
    background-color: rgba(181, 191, 207, 0.2);
    padding: 6px;
    border-radius: 3px;

    &:hover {
      background-color: rgba(202, 209, 220, 0.2);
    }
  }

  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;

    .left-menu-style {
      margin: 0px;

      &:hover {

        .open-menu-side {
          background-color: rgba(200, 206, 214, 0.518);
        }

        .right-arrow {
          background-color: rgba(200, 206, 214, 0.518);
        }
      }
    }

    .open-menu-side{
      height: calc(100% - 44px);
      width: 16px;
      position: fixed;
      left: 0px;
      top: 44px;
      margin: 0px;
      background-color: rgba(200, 206, 214, 0.293);
      z-index: 10;
    }

    .right-arrow {
      display: grid;
      place-items: center;
      cursor: pointer;
      width: 24px;
      height: 24px;
      margin: 0px;
      border-radius: 50%;
      background-color: rgba(200, 206, 214, 0.293);

      .right-arrow-icon {
        height: 12px;
        width: 12px;
      }
    }

    >* {
      margin: 2px;
    }

    .is-starred {
      width: 32px;

      .yellow-star {
        width: 14px;
        height: 14px;
      }

      &:hover {
        .star-icon {
          color: #F2D600 !important;
          scale: 1.2;
        }

        .yellow-star {
          color: #F2D600 !important;
          scale: 1.2;
        }
      }
    }

    .board-name-input {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      display: flex;
      align-items: center;
      border: none;
      height: 33px;
      padding-inline: 12px;
      font-size: 18px;
      font-weight: bold;
      border-radius: 3px;
      cursor: pointer;
      margin-inline-end: 4px;

      &:hover {
        background-color: #3787b564;
      }

      &:focus {
        outline: 2px solid $clr9;
        background-color: #fff;
        height: 28px;
        color: #172B4D !important;
      }
    }
  }

  .right-section {
    display: flex;
    align-items: center;
    justify-content: center;

    >* {
      margin: 5px;
      margin-inline-start: 10px;
    }

    .filter-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;

      .filter-icon {
        position: relative;
        bottom: 1px;
        width: 13px;
        height: 13px;
        margin-inline-end: 5px;
      }
    }

    .ellipsis-icon {
      height: 18px;
      width: 18px;
      padding: 1px;
      display: grid;
      place-items: center;
    }
  }

  .filter-popper {
    width: 360px;
    padding-inline: 12px;
    background-color: #ffffff;
    border-radius: 3px;
    height: fit-content;
    float: right;
    display: flex;
    flex-direction: column;
    color: white;
    box-shadow: 0px 1px 2px 0px rgb(154 154 154 / 75%);

    .header {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
      height: 41px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      width: 100%;
      border-bottom: 1px solid #dfe2e7;
      margin-bottom: 5px;

      .x-mark-btn {
        background-color: inherit;
        position: absolute;
        right: 0;
        padding-inline-end: 13px;

        .x-mark-icon {
          color: white;
          font-size: 16px;
        }
      }
    }

    .keyword-filter {
      width: 100%;

      p {
        font-size: 13px;
      }

      .keyword-input {
        width: 360px;
        height: 36px;
        border: 2px solid #dfe2e7;
        border-radius: 3px;
        padding-inline: 11px;

        &:focus {
          outline: 2px solid $clr9;
          border: none;
          border-radius: 2px;
        }
      }

      .smaller {
        font-size: 12px;
      }
    }
  }

  .grey-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #dfe2e7;
  }

  .calender-div {
    border-radius: 50%;
    background-color: #dfe2e7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;

    .calender {
      font-size: 14px;
    }
  }

  .yellow-div {
    border-radius: 50%;
    background-color: #F2D600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
  }

  .red-div {
    border-radius: 50%;
    background-color: #EB5A46;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
  }

  .clock {
    font-style: 14px;
    color: white;
  }

  .member-label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
  }

  .labels-filter {
    overflow-y: scroll;
    max-height: 300px;

    button {
      width: 320px;
    }

    margin-bottom: 5px;
  }

  label {
    display: flex;
    align-items: center;

    >* {
      margin: 4px;
      color: #616F86;
    }
  }

  .users {
    height: 32px;
    display: flex;
    margin-bottom: 0.7rem;
  }
}

.share-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 6px 12px !important;
  padding-left: 8px !important;
  margin-left: 10px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000000 !important;
  background-color: #FFFFFF !important;

  svg {
    overflow: hidden;
    pointer-events: none;
    max-height: 100%;
    height: 16px;
    width: 16px;
    vertical-align: bottom;
  }
}

.seperator {
  color: white;
}