.board-header {
  background-color: transparent;
  
  .mini-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #647188;
    margin-top: 16px;
    margin-bottom: 5px;
  }

  .smaller {
    font-size: 12px;
    margin-top: 7px;
  }


  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  padding-inline: 8px;
  cursor: default;
  button {
    height: 32px;
    background-color: #2e709764;
    padding: 6px;
    border-radius: 3px;

    &:hover {
      background-color: #3787b564;
    }
  }
  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      margin: 2px;
    }

    .is-starred {
      width: 32px;

      .yellow-star{
        width: 14px;
        height: 14px;
      }

      &:hover {
        .star-icon {
          scale: 1.2;
        }
        .yellow-star{
          scale: 1.2;
        }
      }
    }

    .board-name-input{
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
      display: flex;
      align-items: center;
      border: none;
      height: 33px;
      padding-inline: 12px;
      font-size: 18px;
      font-weight: bold;
      border-radius: 3px;
      cursor: pointer;
      
      &:hover{
        background-color: #3787b564;
      }
      &:focus{
        outline: 2px solid $clr9;
        background-color: #fff;
        height: 28px;
      }

    }
  }
  .right-section {
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      margin: 5px;
    }

    .filter-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;
      .filter-icon {
        position: relative;
        bottom: 1px;
        width: 13px;
        height: 13px;
        margin-inline-end: 5px;
      }
    }

    .ellipsis-icon {
      height: 18px;
      width: 18px;
      padding: 1px;
      display: grid;
      place-items: center;
    }
  }

  .filter-popper {
    max-height: 780px;
    width: 360px;
    padding-inline: 12px;
    background-color: #ffffff;
    border-radius: 3px;
    height: fit-content;
    float: right;
    display: flex;
    flex-direction: column;
    color: #838ea0;
    box-shadow: 0px 1px 2px 0px rgb(154 154 154 / 75%);

    .header {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
      height: 41px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      width: 100%;
      border-bottom: 1px solid #dfe2e7;
      margin-bottom: 5px;

      .x-mark-btn {
        background-color: inherit;
        position: absolute;
        right: 0;
        padding-inline-end: 13px;

        .x-mark-icon {
          color: #838ea0;
          font-size: 16px;
        }
      }
    }

    .keyword-filter {
      width: 100%;

      p {
        font-size: 13px;
      }

      .keyword-input {
        width: 360px;
        height: 36px;
        border: 2px solid #dfe2e7;
        border-radius: 3px;
        padding-inline: 11px;

        &:focus {
          outline: 2px solid $clr9;
          border: none;
          border-radius: 2px;
        }
      }

      .smaller {
        font-size: 12px;
      }
    }
  }

  .member-label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .labels-filter{
    button{
        width: 320px;
    }
    margin-bottom: 5px;
  }

  label{
    display: flex;
    align-items: center;
    > * {
      margin: 4px;
    }
  }

  .users{
    height: 32px;
    display: flex;
    margin-bottom: 0.7rem;
  }
}
