.board-menu {
    position: fixed;
  right: 0;
  width: 0;
overflow-x: hidden;
  background-color: #f4f5f7;
  height: calc(100vh - 44px);
  overflow: hidden;
  z-index: 10;
  
  .board-activities{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    .board-activity{
      display: grid;
      grid-template-columns: 30px 1fr;
      gap: 7px;
      grid-template-rows: 1fr;
      .activity-info{
        display: flex;
        flex-direction: column;
      }
      a{
        color: #5e6c84;
        font-size: 12px;
      }
      .member-fullname{
        font-family: -apple-system,BlinkMacSystemFont;
        font-size: 14px;
        color: hsl(220,4.3%,8.5%);
        span{
          font-weight: bold;
        }
      }
    }
  }

  transition: 0.5s;
  
  h4 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
      Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 600;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
      Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    padding-inline: 12px;

    h3 {
      font-weight: 600;
      font-size: 16px;
      color: #40506d;
    }
  }
  hr {
    width: 321px;
    border: 0;
    height: 1px;
    background-color: #d5d9e0;
    margin: auto;
  }

  .main-content {
    padding: 12px 6px 8px 12px;
    display: flex;
    flex-direction: column;

    .menu-opt{
        padding: 6px;
        height: 20px;
        border-radius: 3px;
        display: flex; 
        cursor:pointer;
        align-items: center;

        .menu-opt

        &:hover{
            background-color: #E2E4E9;
        }

        .bg-trailer{
            width: 20px;
            height: 20px;
            margin-inline-end: 6px;
            border-radius: 3px;
        }
    }

    .menu-options {
      display: flex;
      flex-direction: column;
    }
  }

  .close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;

    .close-add-task-btn{
        width: 19px;
        height: 19px;
    }
  }

  .other-sections{
    .return-btn2{
        position: absolute;
        top: 0;
        left: 0;
        margin: 15px;
        color: #808080;
    
        .return-icon {
          height: 16px;
          width: 16px;
        }
    }
    .main-container{
        p{
            font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #637187;
        }

        width: 312px;
        height: 124px;
        display: flex;
        justify-content: space-between;
        padding: 7px 6px 8px 12px;

        .unsplash-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: 15px;
            cursor: pointer;
            .preview-img{
                width: 152px;
                height: 96px;
                margin-bottom: 8px;
                border-radius: 8px;

                &:hover{
                   opacity: 0.8;
                }
            }
        }
    }

    .unsplash-section{
       display: flex;
       flex-direction: column;
       justify-content: center;
       position: relative;

        .search-input {
            width: 277px;
            height: 16px;
            padding: 8px 12px;
            background-color: #fafbfc;
            border-radius: 3px;
            border: 2px solid #dfe1e6;
            margin: 12px 12px 0 12px;
        
            &:focus {
              border: 2px solid $clr9;
              outline: none;
            }
          }
        .background-imgs {
            width: 306px;
            display: grid;
            place-items: center;
            padding-inline: 12px;
            grid-template-columns: 1fr 1fr;
            gap: 5px;
            margin-top: 12px;
    
            .unsplash-img {
              border-radius: 3px;
              width: 148px;
              height: 96px;
              cursor: pointer;
              border-radius: 8px;
    
              &:hover {
                filter: contrast(60%);
              }
            }
          }
    }
  }
}


.is-menu-open{
    .board-header{
        margin-inline-end:  339px;
        transition: 0.6s;
    }

    .group-list{
       margin-inline-end:  339px;
        transition: 0.6s;
    }

    .board-menu{
        width: 339px;
    }
}