.main-task-members-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  ul {
    list-style: none;
  }

  .main-task-members-header {
    font-size: 12px;
    font-weight: 600;
    margin-right: 8px;
    margin-bottom: 1px;
  }

  .main-task-members-header {
    font-size: 12px;
  }

  .main-task-members {
    display: flex;
    align-items: center;
    height: 32px;

    >* {
      margin-inline-end: 3px;
    }

    ul {
      display: flex;
    }

    .main-task-member-img {
      width: 33px;
      height: 33px;
      border-radius: 50%;
      position: relative;
      top: 3px;
      margin-top: 1px;
      cursor: pointer;
    }

    .plus-btn {
      padding: 8px;
      background-color: #EAECF0;
      border-radius: 50%;
      height: 32px;

      &:hover {
        background-color: #E2E4E9;
      }

      .plus-icon {
        color: #52617b;
        height: 16px;
        width: 16px;
        margin: 0;
      }
    }
  }
}