.popper-content {
    header {
        margin-bottom: 7px;
        padding: 0 12px;
        position: relative;
        text-align: center;
        display: grid;
        align-items: center;
        grid-template-columns: 12px 1fr 12px;

        h1 {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
            font-size: 14px;
            font-weight: 400;
            border-bottom: 1px solid var(--ds-border, rgba(9, 30, 66, 0.13));
            color: $clr21;
            height: 40px;
            display: block;
            line-height: 36px;
            margin-right: 2px;
            overflow: hidden;
            position: relative;
            padding: 0 32px;
            text-overflow: ellipsis;
            white-space: nowrap;
            grid-column: 1 / span 3;
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        button {
            padding: 0px;
    
            span {
                height: auto;
                width: 10px;
            }
        }
    
        .back {
            grid-column: 1;
            grid-row: 1;
            position: fixed;
            left: 7px;
            height: auto !important;

            &:hover {
                background-color: transparent !important;
            }
        }
    
        .close {
            grid-column: 3;
            grid-row: 1;
            position: fixed;
            right: 4px;
            width: auto !important;
            height: auto !important;
            background-color: inherit;

            &:hover {
                background-color: transparent !important;

                span {
                    svg {
                        path{
                            fill: $clr5;
                        }
                    }
                }
            }
        }
    }
}

.notifications-bell-container{
    display: flex;
    width: 80px;
    // height: 00px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    position: relative;
    .new-notification-container{
        display: grid;
        .new-notifications{
            width: 4px;
            height: 19px;
            position: absolute;
            background-color: #f94449;
            bottom: 7px;
            right: 19px;
            font-size: 14px;
            border-radius: 50%;
        }
    }
}

.notifications-popper{
    width: 430px;
    min-height: 400px;
    .no-notification{
        display: grid;
        place-items: center;
        gap: 25px;
        h1{
            font-size: 20px;
        }
    }
    .notification-container{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .notification{
        background-color: white;
        padding: 010px 20px 4px;
        display: flex;
        width: 85%;
        gap: 8px;
    }
    .notifications-header{
        display: flex;
        flex-direction: column;
        padding: 20px 20px 4px;
        border-bottom: 1px solid var(--ds-border, rgba(9, 30, 66, 0.13));
        background-color: white;
        padding-bottom: 20px;
        h1{
            font-size: 20px;
            color: #172b4d;
        }
        p{
            color:#172b4d;
        }
    }
}
