.header-icon {
  margin-top: 1px;
}

.activity-comment {
  border: none;
  overflow: hidden;
  overflow-wrap: break-word;
  box-sizing: initial;
  height: 20px;
  width: calc(100% - 24px);
  border-radius: 3px;
  outline: none;
  padding: 8px 12px;
  box-shadow: 0 1px 2px -1px $clr26, 0 0 0 1px $clr25;
  word-wrap: break-word;
  resize: none;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
}

.task-btn {
  background-color: $clr23 !important;
  border: none !important;
  border-radius: 3px !important;
  color: inherit !important;

  span {
    display: inline-flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  &:hover {
    color: inherit !important;
    background-color: $clr25 !important;
  }

  &.delete-btn {
    width: -webkit-fill-available;
    color: $clr4 !important;
    background-color: $clr14 !important;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 16px 0px 12px 0;

    &:hover {
      background-color: $clr28 !important;
    }

    .close {
      right: 14px;
      top: 6px;
    }
  }
}

.popper {
  width: 304px;
  background-color: white;
}

.task-date {
  display: flex;

  .date-input {
    margin-top: 15px;
    padding-right: 5px;
  }
}

.task-comment {
  * {
    color: black !important;
  }

  a {
    color: $clr21 !important;
    font-size: 12px;
    display: block;
  }

  .member-info {
    display: flex;
    gap: 5px;

    .comment-sender {
      font-weight: bolder;
    }
  }

}

.member-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  justify-self: center;
}

.content-container {
  padding: 0 12px 12px;
  text-align: start;
}

.task-date {
  width: max-content;
}

.task-popper-input {
  width: 100%;
  background-color: $clr4;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px $clr22;
  box-sizing: border-box;
  line-height: 20px;
  outline: none;
  padding: 8px 12px;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;

  &:focus {
    background-color: $clr4;
    box-shadow: inset 0 0 0 2px $clr9;
  }
}

.task-description-title {
  display: flex;
  align-items: center;
  gap: 11px;
}

.textarea-edit {
  width: calc(100% - 18px);
  height: 50px;
  padding: 8px 12px;
  margin-top: 17px;
  min-height: 108px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  border: none;
  resize: none;

  &:focus {
    background-color: #fff;
    outline: solid 2px $clr9;
    border-radius: 3px;
  }


  &:focus-visible {
    outline: none
  }
}

.description-info {
  margin-bottom: 19px;
  margin-top: 12px;
  padding: 7px 13px !important;
  color: $clr5;
  border-radius: 4px;
  font-size: 14px;
  background-color: $clr23;
  font-family: NunitoSans-regular;
  overflow-wrap: break-word;
  cursor: pointer;
  min-height: 42px;

  &:focus {
    background-color: #fff;
    box-shadow: inset 0 0 0 2px $clr9;
  }

  &:hover {
    background-color: $clr25;
  }

  &:empty:before {
    content: "Add a more detailed description...";
  }

  &:focus-visible {
    outline: none
  }

  &.description-info-full {
    background-color: transparent !important;
  }
}

.task-section {
  margin-bottom: 13px;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  padding-inline-start: 6px;

  &.task-activity {
    svg {
      margin-block-start: 6px;
      justify-self: center;
    }
  }

  .task-checklist-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11px;

    .delete-popper{
      z-index: 50;
    }
  }

  .progress-container {
    grid-column: 1 / span 2;
    margin-bottom: 3px;
    margin-top: 6px;

    .el-progress {
      flex-direction: row-reverse;

      .el-progress-bar__outer {
        height: 8px;
      }

      .el-progress__text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px !important;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      }
    }
  }

  .checklist {
    grid-column: 1 / span 2;

    .checklist-title {
      display: flex;
      gap: 11px;
    }

    .todo {
      display: grid;
      grid-template-columns: 50px 1fr;
      border-radius: 4px;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      font-size: 14px;
      line-height: 20px;
      padding: 4px 0;
      align-items: center;

      input {
        height: 16px;
        width: 16px;
        margin: 6px auto;
      }

      &:hover {
        background-color: $clr23;
      }

      .todo-content{
        display: flex;
        justify-content: space-between;

        .ellipsis-icon {
          color: #707c90;
          padding: 8px;
          width: 15px;
          height: 13px;
          border-radius: 3px;
          margin-right: 5px;

          &:hover {
            background-color: #dadbe2;
          }
        }
      }
    }

    .btn-add {
      background-color: $clr23;
      border: none;
      border-radius: 3px;
      color: inherit;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      font-size: 14px;
      line-height: 20px;
      padding: 6px 12px;
      transition-duration: 85ms;
      transition-property: background-color, border-color, box-shadow;
      transition-timing-function: ease;
      margin-left: 50px;
      margin-top: 8px;

      &:hover {
        background-color: $clr25;
      }
    }

    .todo-edit {
      margin-left: 50px;
    }
  }
}

.task-edit-screen {
  height: 100%;
  width: 100%;
  position: fixed;
  align-items: flex-start;
  background-color: #0009;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  top: 0;
  left: 0;

  .task-edit-container {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 44px;
    min-height: 700px;
    max-width: 768px;
    width: 100%;
    background-color: #f4f5f7;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.315);
    margin-bottom: 100px;
    .task-activity-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 12px;
    }

    .task-cover {
      height: 117px;
      border-radius: 3px 3px 0 0;
      object-fit:contain;
      background-position: center;
    }

    .task-title {
      margin-top: 22px;
      width: 100%;
      margin-bottom: 0px;

      input {
        outline: none;
        border: none;
        background-color: transparent;
        width: 92%;
        height: 30px;
        border-radius: 3px;
        font-size: 20px;
        font-weight: 600;
        height: 32px;
        margin: -4px -8px;
        padding: 4px 8px;
        resize: none;
        font-size: 20px;
        color: #172b4d;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;

        &:focus {
          background-color: #fff;
          outline: 1px solid blue;
        }
      }
    }

    .task-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 16px;

      .content {
        flex: 1;

        .task-section {
          .task-info-wrapper {
            display: flex;
            align-items: center;
            height: 72px;
          }

          &.task-info {
            grid-column: 2;
          }
        }
      }

      .actions {
        width: 165px;
        float: right;
        overflow: hidden;
        padding: 0 16px 8px 8px;
        display: flex;
        flex-direction: column;

        .icon-actions {
          font-size: 16px;
          color: $clr27;
        }

        .mini-title {
          font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
            Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
          font-size: 12px;
          margin-top: -4px;
          color: $clr21;
          font-weight: 600;
        }

        .task-option-btn {

          &.btn-members {
            margin-top: 5px !important;
          }

          p {
            color: $clr27;
          }
        }
      }
    }

    .task-exit-btn {
      border-radius: 50%;
      color: $clr27;
      height: 32px;
      margin: 4px;
      overflow: hidden;
      padding: 4px;
      position: absolute;
      right: 0;
      top: 0;
      transition: background-color 85ms, color 85ms;
      width: 32px;
      z-index: 2;
      display: grid;
      place-content: center;
      cursor: pointer;

      &:hover {
        background-color: rgba(172, 171, 171, 0.2);
      }

      .margin {
        margin-inline-start: 5px;
      }
    }
  }

  .task-mini-title {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
      Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
  }

  p {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
      Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}