.activity-comment {
  border: none;
  overflow: hidden;
  overflow-wrap: break-word;
  box-sizing: initial;
  height: 20px;
  width: calc(100% - 24px);
  border-radius: 3px;
  outline: none;
  padding: 8px 12px;
  box-shadow: 0 1px 2px -1px $clr26, 0 0 0 1px $clr25;
  word-wrap: break-word;
  resize: none;
  font-size: 14px;
  background-color: white;
}

.task-btn {
  background-color: $clr23 !important;
  border: none !important;
  border-radius: 2px !important;
}

.popper {
  width: 304px;
  background-color: white;
}

.content-container{
  padding: 0 12px 12px;
  text-align: start;

  .task-popper-input {
    width: 100%;
    background-color: $clr4;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px $clr22;
    box-sizing: border-box;
    line-height: 20px;
    outline: none;
    padding: 8px 12px;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    
    &:focus {
      background-color: $clr4;
      box-shadow: inset 0 0 0 2px $clr9;
    }
  }
}


.task-description-title {
  display: flex;
  gap: 11px;
}

.textarea-edit {
  width: calc(100% - 18px);
  height: 50px;
  padding: 8px 12px;
  margin-top: 17px;
  min-height: 108px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  border: none;
  resize: none;

  &:focus {
    background-color: #fff;
    outline: solid 2px $clr9;
    border-radius: 3px;
  }
}

.description-info {
  margin-bottom: 10px;
  margin-top: 17px;
  padding: 7px 2px;
  padding-inline: 12px;
  color: $clr5;
  border-radius: 4px;
  font-size: 14px;
  background-color: $clr23;
  font-family: NunitoSans-regular;
  overflow-wrap: break-word;
  cursor: pointer;
  min-height: 50px;

  &:focus {
    background-color: #fff;
    box-shadow: inset 0 0 0 2px $clr9;
  }

  &:hover {
    background-color: $clr25;
  }

  &:empty:before {
    content: "Add a more detailed description...";
  }
}

.task-section {
  margin-bottom: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  padding-inline-start: 6px;

  svg {
    margin-block-start: 6px;
    justify-self: center;
  }

  .progress-container {
    grid-column: 1 / span 2;
    margin-bottom: 3px;
    margin-top: 6px;
    
    .el-progress {
      flex-direction: row-reverse;

      .el-progress-bar__outer{
        height: 8px;
      }

      .el-progress__text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px !important;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
      }
    }
  }

  .checklist {
    grid-column: 1 / span 2;

    .todo {
      display: grid;
      grid-template-columns: 50px 1fr;
      border-radius: 4px;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      font-size: 14px;
      line-height: 20px;
      padding: 4px 0;
      align-items: center;

      input {
        height: 16px;
        width: 16px;
        margin: 6px auto;
      }

      &:hover {
        background-color: $clr23;
        // background-color: lightblue;
      }
    }

    .btn-add {
      background-color: $clr23;
      border: none;
      border-radius: 3px;
      color: inherit;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      font-size: 14px;
      line-height: 20px;
      padding: 6px 12px;
      transition-duration: 85ms;
      transition-property: background-color, border-color, box-shadow;
      transition-timing-function: ease;
      margin-left: 50px;
      margin-top: 8px;

      &:hover {
        background-color: $clr25;
      }
    }

    .todo-edit {
      margin-left: 50px;
    }
  }
}

.task-edit-screen {
  height: 100%;
  width: 100%;
  position: absolute;
  align-items: flex-start;
  background-color: #0009;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;

  .task-edit-container {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 44px;
    min-height: 700px;
    width: 768px;
    background-color: #f4f5f7;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.315);

    .task-activity-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 14px;
    }

    .header-icon,
    .attachments-icon,
    .description-icon,
    .activity-icon,
    .archive-icon {
      font-family: trellicons;
      place-self: center;
      align-self: flex-start;
      font-size: 24px;
      line-height: 1.3;
    }

    .header-icon {
      &::before {
        content: "\e912";
      }
    }

    .description-icon {
      &::before {
        content: "\e922";
      }
    }

    .activity-icon {
      &::before {
        content: "\e900";
      }
    }

    .archive-icon:before {
      content: "\e907";
    }

    .attachments-icon:before {
      content: "\e908";
      font-family: trellicons;
    }

    .task-cover {
      height: 117px;
      border-radius: 3px 3px 0 0;
    }

    .task-title {
      margin-top: 22px;
      width: 100%;

      input {
        outline: none;
        border: none;
        background-color: transparent;
        width: 92%;
        height: 30px;
        font-size: 20px;
        border-radius: 3px;
        color: $clr5;

        &:focus {
          background-color: #fff;
          outline: 1px solid blue;
        }
      }
    }

    .task-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 16px;

      .content {
        width: 75%;

        .task-section {
          .task-info-wrapper {
            display: flex;
            align-items: center;
            height: 72px;
          }

          &.task-info {
            grid-column: 2;
          }
        }
      }

      .actions {
        width: calc(100% - 600px);
        float: right;
        overflow: hidden;
        padding: 0 16px 8px 8px;
        display: flex;
        flex-direction: column;

        .mini-title {
          font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
            Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
          font-size: 12px;
          margin-top: -4px;
        }
      }
    }

    .task-exit-btn {
      border-radius: 50%;
      color: var(--ds-icon, #42526e);
      height: 32px;
      margin: 4px;
      overflow: hidden;
      padding: 4px;
      position: absolute;
      right: 0;
      top: 0;
      transition: background-color 85ms, color 85ms;
      width: 32px;
      z-index: 2;
      display: grid;
      place-content: center;
      cursor: pointer;

      &:hover {
        background-color: rgba(172, 171, 171, 0.2);
      }

      .margin {
        margin-inline-start: 5px;
      }
    }
  }

  .task-mini-title {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
      Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  p {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
      Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    color: #6f7c91;
    font-weight: 400;
  }
}