* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: montserrat;
    line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(18px);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
}

button{
    border: none;
    cursor: pointer;
    background-color: inherit;
}


// img {
//     width: 100%;
// }


a {
    text-decoration: none;
}

#app{
    overflow-x: hidden;
    // overflow-y: hidden;
    height: 100vh;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


