@font-face {
    font-family: NunitoSansBlack;
    src: url(fonts/NunitoSans-Black.ttf);
}
@font-face {
    font-family: NunitoSans-BlackItalic;
    src: url(fonts/NunitoSans-BlackItalic.ttf);
}
@font-face {
    font-family: NunitoSans-Bold;
    src: url(fonts/NunitoSans-Bold.ttf);
}
@font-face {
    font-family: NunitoSans-BoldItalic;
    src: url(fonts/NunitoSans-BoldItalic.ttf);
}
@font-face {
    font-family: NunitoSans-ExtraBold;
    src: url(fonts/NunitoSans-ExtraBold.ttf);
}
@font-face {
    font-family: NunitoSans-ExtraBoldItalic;
    src: url(fonts/NunitoSans-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: NunitoSans-ExtraLight;
    src: url(fonts/NunitoSans-ExtraLight.ttf);
}
@font-face {
    font-family: NunitoSans-ExtraLightItalic;
    src: url(fonts/NunitoSans-ExtraLightItalic.ttf);
}
@font-face {
    font-family: NunitoSans-Italic;
    src: url(fonts/NunitoSans-Italic.ttf);
}
@font-face {
    font-family: NunitoSans-Light;
    src: url(fonts/NunitoSans-Light.ttf);
}
@font-face {
    font-family: NunitoSans-LightItalic;
    src: url(fonts/NunitoSans-LightItalic.ttf);
}
@font-face {
    font-family: NunitoSans-Regular;
    src: url(fonts/NunitoSans-Regular.ttf);
}
@font-face {
    font-family: NunitoSans-SemiBold;
    src: url(fonts/NunitoSans-SemiBold.ttf);
}
@font-face {
    font-family: NunitoSans-SemiBoldItalic;
    src: url(fonts/NunitoSans-SemiBoldItalic.ttf);
}

@font-face {
    font-family: trellicons;
    src: url(fonts/trellicons.ttf);
}