@font-face {
    font-family: NunitoSansBlack;
    src: url(fonts/NunitoSans-Black.ttf);
}
@font-face {
    font-family: NunitoSans-BlackItalic;
    src: url(fonts/NunitoSans-BlackItalic.ttf);
}
@font-face {
    font-family: NunitoSans-Bold;
    src: url(fonts/NunitoSans-Bold.ttf);
}