@font-face {
    font-family: NunitoSansBlack;
    src: url(../fonts/NunitoSans-Black.ttf);
}
@font-face {
    font-family: NunitoSansBold;
    src: url(fonts/NunitoSans-Bold.ttf);
}
@font-face {
    font-family: NunitoSansLight;
    src: url(fonts/NunitoSans-Light.ttf);
}