// Colors
// $clr1: #ce2e6c;
// $clr2: #4f3a65;
// $clr3: #574f7d;
// $clr4: #95adbe;
// $clr5: #dff0ea;
// $clr6: #fff;

$clr1: #016AA7;
$clr2: #064A74;
$clr3: #4688B9;
$clr4: #fafbfc;
$clr5: #172b4d;
$clr6: #0065ff;
$clr7: #0747a6;
$clr8: #091e42;
$clr9: #0079bf;
$clr10: #00aecc;
$clr11: #519839;
$clr12: #4bbf6b;
$clr13: #d29034;
$clr14: #b04632;
$clr15: #89609e;
$clr16: #cd5a91;
$clr17: #838c91;
$clr18: #eb5a46;
$clr19: #ebecf0;
$clr20: #026aa7;
$clr21: #5e6c84;
$clr22: #dfe1e6;
$clr23: #091e420a;
$clr24: #091e4217;
$clr25: #091e4214;
$clr26: #091e4240;
$clr27: #42526e;
$clr28: #933b27;
$clr29: #61bd4f;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$extra-normal-breakpoint: 1100px;