// Colors
// $clr1: #ce2e6c;
// $clr2: #4f3a65;
// $clr3: #574f7d;
// $clr4: #95adbe;
// $clr5: #dff0ea;
// $clr6: #fff;

$clr1: #016AA7;
$clr2: #064A74;
$clr3: #4688B9;
$clr4: #FAFBFC;
$clr5: #172b4d;
$clr6: #0065ff;
$clr7: #0747a6;;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$extra-normal-breakpoint: 1100px;